<main [ngClass]="currentTemp > 60 ? 'warm' : 'cold'">
  <div class="search-box">
    <form #form="ngForm" (submit)="onSubmit()">
      <input name="city" type="text" class="search-bar" placeholder="Enter a City" [(ngModel)]="city">
    </form>
  </div>
  <div *ngIf="weatherInfo">
    <div class="location-container">
      <div class="location">{{weatherInfo.name}}, {{weatherInfo.sys.country}} </div>
      <div class="date">{{currentDate | date:'MM-dd-yyyy'}}</div>
    </div>
    <div class="weather-container">
      <div class="temperature">{{weatherInfo.main.temp}} °F</div>
      <div class="increase">{{weatherInfo.weather[0].description.toUpperCase()}}
      </div>
      <div class="increase">{{weatherInfo.main.humidity}}% HUMIDITY</div>
      <img src="http://openweathermap.org/img/w/{{icon}}.png" >
    </div>
  </div>
</main>

<router-outlet></router-outlet>
