@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
main {
    min-height: 100vh;
    /* background-image: url('../assets/sandiego.png'); */
    background-color: orange;
    padding: 25px;
    /* background-repeat: no-repeat; */
    background-size: cover;
  }

.warm {
  min-height: 100vh;
  background-image: url('../assets/warm.png');
  padding: 25px;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.cold {
  min-height: 100vh;
  background-image: url('../assets/cold.png');
  padding: 25px;
  background-size: cover;
}
.search-box {
    width: 100%;
    margin: 0 0 75px;
    
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  

.search-box .search-bar {
    display: block;
    position: absolute;
    left: 25%;
    width: 50%;
    padding: 15px;
    text-align: center;
    cursor: pointer;


    appearance: none;
    background: none;
    border: none;
    outline: none;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 16px 16px;
    margin-top: -25px;

    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

    color: #313131;
    font-size: 20px;
}

.search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
  }

  .location-container .location {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }
  
  .location-container .date {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  }
  
  .weather-container {
    text-align: center;
  }
  
  .weather-container .temperature {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
  
    padding: 15px 25px;
  
    color: #FFF;
    font-size: 102px;
    font-weight: 900;
  
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  }

.increase {
  font-size: 20px;
  margin-top: 6px;
  font-weight: 200;
  font-style: italic;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}